<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="callCenter_85"
     connectionString="Data Source=xxx.xxx.xx.xxx;Initial Catalog=dnp_callcenter_db;Persist Security Info=True;User ID=dnp;Password=xxxx" providerName="System.Data.SqlClient" />
   
  </connectionStrings>
 
</configuration>